.news-item {
    display: flex;
    gap: 2rem;

    padding: 0 0 2rem;

    border-bottom: solid lightgray 1px;

    text-decoration: none;
    color: var(--subtext);

    & .news-item-image {
        width: 40%;
        object-fit: cover;
        aspect-ratio: 4/3;

        cursor: pointer;
    }

    & .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: space-between;

        & .top {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            & .title {
                color: var(--text);
                font-size: 1.4rem;
                text-transform: capitalize;

                margin: 0;

                cursor: pointer;
            }

            & .description {
                font-size: 1rem;
            }
        }

        & .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .info {
                display: flex;
                flex-direction: column;
                justify-self: flex-end;
                gap: 0.2rem;
    
                font-size: 0.9rem;
            }

            & .favorite {
                height: 2rem;
                width: 2rem;

                margin-right: 1rem;

                cursor: pointer;

                &:hover {
                    scale: 1.05;
                }
            }
        } 
    }
}

@media (max-width: 1400px) {
    .news-item-image {
        width: 30%;
    }
}

@media (max-width: 750px) {
    .news-item {
        flex-direction: column;

        & .news-item-image {
            max-height: 30vh;
            width: 100%;
        }
    }
}